{% extends './account.html' %}
{% block account_content %}
{% load static %}
<div class="col-lg-12 col-sm-12 mt-3 mb-5 " id="address">
    <div class="row">
        <div class="col-lg-12 float-left">
            <h4 class="d-inline mt-1  ml-2 float-left">Addresses</h4>
            <button  type="button" onclick="fun_addr('','add')" class="btn  float-right btn-default">Add New address</button>
        </div>
    </div>
    <hr class="mt-2">
    <div id="addressesView"  class="row">
        {% for address in status.address_objects %} 
            <div class="col-lg-4 col-md-6 col-sm-12 mt-2 mx-auto">
                <div id="{{address.id}}" ref="{{address.id}}" class="card shadow {% if address.id == status.user.default_address.id %} border-success {% else %} border-warning {% endif %}">

                    <div id="addrheader" class="card-header bg-gradient-warning border-0">
                        <h4 id="{{ address.id }}_nn" class="d-inline color text-gray-dark text-capitalize">{{ address.nick_name }}</h4>
                        {% if address.id != status.user.default_address.id %}
                            <form method="POST" class="d-inline">
                                {% csrf_token %}
                                <input type="hidden" name="add_id"  value="{{address.id}}">
                                <input type="hidden" name="cmd" value="mk_default">
                                <button  type="submit" class="btn d-inline btn-default float-right ">Make Default</button>
                            </form>
                         {% else %}
                            <span class="btn d-inline btn-success float-right ">Default</span>
                        {% endif %}
                    </div>
                    <div id="addrbox" class="card-body" >
                        <p id="{{ address.id }}_cpn" ref="cpn" class="card-text mt--2 ">{{address.contact_person_name}}</p>
                        <p id="{{ address.id }}_cn" ref="cn" class="card-text mt--3 ">{{address.comapny_name}}</p>
                        <p id="{{ address.id }}_l1" class="card-text mt--3 ">{{address.address_line1}}</p>
                        <p id="{{ address.id }}_l2" class="card-text mt--3 ">{{address.address_line2}}</p>
                        <p id="{{ address.id }}_city" class="card-text mt--3 ">{{address.city}}</p>
                        <p id="{{ address.id }}_state" class="card-text mt--3 ">{{address.state}}</p>
                        <p id="{{ address.id }}_pin" class="card-text mt--3 ">{{address.pincode}}</p>
                        <p id="{{ address.id }}_phone" class="card-text mt--3 ">{{address.mobile_number}}</p>
                        <p id="{{ address.id }}_landmark" class="card-text mt--3 ">{{address.land_mark}}</p>
                        <button type="button" onclick="fun_addr({{ address.id }},'edit')" href="#" class="btn d-inline btn-primary">Edit</button>
                        <form class="d-inline" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="cmd" value="del">
                            <input id="address_id" type="hidden" name="add_id" value="{{address.id}}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="adddressFrom" class="row" style="display:none" >
        <div class="col-lg-12 ">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label for="inputNickadd" class="col-lg-12 col-form-label">Nick Name:(Ex:Home,Office):</label>        
                    <input type="text" class="form-control" form="addaddress" name="nick_name" id="inputNickaddr"   >
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label for="inputContactadd" class="col-lg-12 col-form-label">Contact Person:</label>        
                    <input type="text" class="form-control" form="addaddress" name="person_name" id="inputContactaddr"  required>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label for="inputCompanyadd" class="col-lg-12 col-form-label">Comapny Name:</label>        
                    <input type="text" class="form-control" form="addaddress" name="company_name" id="inputCompanyaddr"   >
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label for="inputL1add" class="col-lg-12 col-form-label">Address Line 1:</label>        
                    <textarea type="text" class="form-control" form="addaddress" name="add_line1" id="inputL1addr"   required ></textarea>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label for="inputL2add" class="col-lg-12 col-form-label">Address Line 2:</label>        
                    <textarea type="text" class="form-control" form="addaddress" name="add_line2" id="inputL2addr"   ></textarea>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label for="inputCityadd" class="col-lg-12 col-form-label">City:</label>        
                    <input type="text" class="form-control" form="addaddress" name="city" id="inputCityaddr"   required >
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label for="inputStateadd" class="col-lg-12 col-form-label">State:</label>        
                    <input type="text" class="form-control" form="addaddress" name="state" id="inputStateaddr"   required>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label for="inputPinadd" class="col-lg-12 col-form-label">Pincode:</label>        
                    <input type="text" class="form-control" form="addaddress" name="pincode" id="inputPinaddr"  required>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label for="inputPhoneadd" class="col-lg-12 col-form-label">Phone Number:</label>        
                    <input type="text" class="form-control" form="addaddress" name="phone_number" id="inputPhoneaddr"   required>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label for="inputLmadd" class="col-lg-12 col-form-label">Land Mark/More:</label>        
                    <input type="text" class="form-control" form="addaddress" name="land_mark" id="inputLmaddr"   >
                </div>
            </div> 
            <div class="row mt-3 mr-1 float-right">
                <button  onclick="cancleAddrForm()" type="button" class="btn btn-warning float-right mx-1">Cancle</button>
                <form id="addaddress"  method="POST">
                    {% csrf_token %} 
                    <input id="inputFormType" type="hidden" name="cmd" >
                    <input id="inputFormAddrID" type="hidden" name="add_id"  >
                    <button id="inputFormButton" type="submit" class="btn bg-green float-right mx-1"></button>
                </form>
            </div>
        </div> 
    </div>
</div>


 <script>
    function fun_addr(addrId,cmd) {
      if(cmd==='edit') {

          $('#inputNickaddr').val($(`#${addrId}_nn`).text())
          $('#inputContactaddr').val($(`#${addrId}_cpn`).text())
          $('#inputCompanyaddr').val($(`#${addrId}_cn`).text())
          $('#inputL1addr').val($(`#${addrId}_l1`).text())
          $('#inputL2addr').val($(`#${addrId}_l2`).text())
          $('#inputCityaddr').val($(`#${addrId}_city`).text())
          $('#inputStateaddr').val($(`#${addrId}_state`).text())
          $('#inputPinaddr').val($(`#${addrId}_pin`).text())
          $('#inputPhoneaddr').val($(`#${addrId}_phone`).text())
          $('#inputLmaddr').val($(`#${addrId}_landmark`).text())
          $('#inputFormType').val('edit')
          $('#inputFormAddrID').val(addrId)
          $('#inputFormButton').text('Update')
      }
      if(cmd==='add')
      {
          $('#inputNickaddr').val('')
          $('#inputContactaddr').val('{{status.user}}')
          $('#inputCompanyaddr').val('{{status.user.company_name}}')
          $('#inputL1addr').val('')
          $('#inputL2addr').val('')
          $('#inputCityaddr').val('')
          $('#inputStateaddr').val('')
          $('#inputPinaddr').val('')
          $('#inputPhoneaddr').val('')
          $('#inputLmaddr').val('')
          $('#inputFormType').val('new')
          $('#inputFormButton').text('Add')
      }

        $('#addressesView').hide()
        $('#adddressFrom').show()

    }
    function cancleAddrForm()
    {
        $('#addressesView').show()
        $('#adddressFrom').hide()
    }

/*var account_nav=new Vue({
    el:'#account_nav',
    methods:{
        address:function(){
            window.location.href='/dashboard/account/addresses'
        },
        password:function(){
            window.location.href='/dashboard/account/password'
        },
        profile:function(){
            window.location.href='/dashboard/account/profile'
        },
    }
})*/
</script>
{% endblock account_content %}