{% extends './account.html' %}
{% block account_content %}
<div class="col col-lg-6 col-md-6  mt-5 mx-auto " >
{% if errors.changepass %}
<div class="alert alert-success mx-auto" role="alert" >
                          
        <strong>Success!</strong> Password changed successfully 
</div>
{% else %}
<form class="form-signin" method="POST" action="">
        {% csrf_token %}
        {% if errors.passerr %}
      <div class="alert alert-danger mx-auto" role="alert" >
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Failed:</strong> Entered Old Password is wrong
      </div>
      {% endif %}
      <div class="form-label-group">
        <input type="password" name="old_password" id="inputOPassword" class="form-control" value="{{ email }}" placeholder="Old Password" required autofocus>
        <label for="inputOPassword">Old Password</label>
      </div>
      {% if errors.passequalerr %}
      <div class="alert alert-danger mx-auto" role="alert" >
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Failed:</strong> New passwords not matched 
      </div>
      {% endif %}
      <div class="form-label-group">
        <input type="password" name="new_password1" id="inputNPassword" class="form-control" value="" placeholder="New Password" required>
        <label for="inputNPassword">New Password</label>
      </div>
      <div class="form-label-group">
            <input type="password" name="new_password2" id="inputRNPassword" class="form-control" value="" placeholder="Reenter New Password" required>
            <label for="inputRNPassword">Reenter New Password</label>
        </div>
      
      
      <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Change Password</button>
      
      <hr class="my-4">
      
</form>
{% endif %}
</div>
{% endblock account_content %}